/.phpunit.cache
/msafrin.net/node_modules
/msafrin.net/public/hot
/msafrin.net/public/storage
/msafrin.net/storage/*.key
/msafrin.net/vendor
/msafrin.net/.env
/msafrin.net/.env.backup
/msafrin.net/.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
